:root {
  --main-bg-color: #007ea7;
  --main-txt-color: #fff;
  --dark-blue: #003249;
  --white-color: #fff;
  --red-color: #d64045;
}

body,
#root {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}
